.navrapper{
    display: flex;
    justify-content: space-between;
    background-color: rgb(255, 255, 255);
    position: fixed;
    width: 100%;
    top: 0;
    font-size: 1.2em;
    font-weight: 700;
    height: 60px;
    z-index: 1;
}

section{
    height: 100vh;
    width: 100%;
    display: flex;
}

.lg-logo{
    margin-top: 16px;
    height: 30px;
    margin-left:  100px;
}

.lg-logo img{
    width: 120px;
}


.nav{
    margin: 0 100px;
}

.nav-ul{
    display: flex;
}

.nav-li{
    margin: 20px;
    list-style: none;
}

.nav-li a{
    text-decoration: none;
    color:rgb(0, 0, 0);
}



li a{
    text-decoration: none;
    font-family: 'Kanit', sans-serif;
    color: rgb(224, 224, 224);
}

li a:after {
  display: block;
  content: "";
  border-bottom: solid 2px white;
  transform: scaleX(0);
  transition: transform 250ms ease-in-out;
}


li a:hover:after {
  transform: scaleX(1);
}

li a:after {
  transform-origin: 0% 50%;
}