<style>
li:nth-child(3) a:after {
    transform: scaleX(1);
    
  }
  


.section-profile{
    width: 100%;
    height: 140vh;
}

.creator{
    margin: 10vh auto ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5px;
    height: 60vh;
}

.creator img{
    width: 260px;
    height: 260px;
    border-radius: 100%;
}

.creator h1{
    margin: 25px;
}

.creator p {
    max-width: 400px;
    text-align: center;
}

.about-creator{
    position: absolute;
    background-color: rgb(198, 184, 220);
    height: 60vh;
    width: 100%;
    bottom: -40vh;
    padding-top: 10px;
}

.about-creator h1{
    text-align: center;
    margin: 10px;
}

.about-content{
    background-color: rgb(243, 243, 243);
    border-radius: 10px;
    width: 60%;
    height: 70%;
    margin: auto;
    padding: 25px;
}
</style>
<section class="section-profile">
        
    <div class="creator">
        <img src="WhatsApp Image 2022-11-16 at 22.12.43.jpeg" alt="">
        <h1>Erik Kantona</h1>
        <p>hi my name is erik kantona and i am software engineering student at yadika soreang and this is web front end for exam</p>
    </div>


    <div class="about-creator">
        <h1>About Creator</h1>
        <div class="about-content">
            <div class="content">
                
            </div>
        </div>
        
    </div>
    
    
</section>
