<style>
    *{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}


.navrapper{
    display: flex;
    justify-content: space-between;
    background-color: white;
    position: fixed;
    width: 100%;
    top: 0;
    font-size: 1.2em;
    font-weight: 700;
    height: 60px;
    z-index: 1;
}

section{
    height: 100vh;
    width: 100%;
    display: flex;
}

.lg-logo{
    margin-top: 20px;
    margin-left:  100px;
}

.lg-logo img{
    width: 100px;
    height: 20px;
}


.nav{
    margin: 0 100px;
}

.nav-ul{
    display: flex;
}

.nav-li{
    margin: 20px;
    list-style: none;
}

.nav-li a{
    text-decoration: none;
    color:black;
}

.container{
    margin: 20vh;
    max-width: 30%;
}

.container h1{
    font-size: 2em;
}

.container p{
    margin-top: 20px;
    max-width: 400px;
    font-size: 1.2rem;

}

.gambar{
    height: 300px;
    width: 500px;
    border-radius: 20px;
    margin: 13vh;
    margin-left: 230px;
}

.gambar img{
    width: 100%;
}

footer{
    display: flex;
    justify-content: space-between;
    background-color:black;
    width: 100%;
    height: 30vh;
    margin: 0;
    padding-top: 5vh;
}

.contact{
    margin-left: 9%;
    margin-top: 20px;

}

.footer-ul{
    margin-top: 10px;
}

.footer-logo img{
    width: 100px;
}
.footer-logo{
    display: flex;

}
.logo-text{
    margin: 11px;
}

.footer-li{
    list-style: none;
    margin-top: 10px;
    color: white;
}

.footer-icon{
    margin-right: 9%;
    margin-top: 10px;
    
    
}

.learn-more{
    position: absolute;
    bottom: 0;
    background-color: rgb(198, 184, 220);
    width: 100%;
    height: 20vh;
    margin: 0;
    padding-top: 5vh;
}

.text-learn-more{
    margin-left:  9%;
    max-width: 85%;
    font-size: 1.2rem;
}


.learn-more button{
    margin-left: 9%;
    margin-top: 20px;
    background-color: rgb(255, 255, 255);
    border: 0;
    padding: 10px;
    border-radius: 5px;
    font-size: 1.2rem;
    
}


.footer-icon ul {
    display: flex   ;
}

.footer-icon li {
    list-style: none;

}


.link table tr td{
    width: 80px;
    height: 30px;
    color: white;
    text-align: center;
}

.link{
    margin-right: 9%;
    margin-top: 20px;
}
</style>

<section >
    <div class="container">
        <h1>The Galaxy Fold Seres </h1>
        <p>will change your life to be amazing by covering the whole world feel the privilege with galaxy fold and filp seres</p>
    </div>

    <div class="gambar">
        <img src="samsung-galaxy-z-fold-4-z-flip-4.webp" alt="" title="gambar kfc">
    </div>

    <div class="learn-more">
        <p class="text-learn-more">click the button if you want to see more specifications.
        </p>
        <button ><a href="#" title="wikipedia">Learn more</a></button>
    </div>
    
</section>
